/*
* {
    background-color: #f0dfea;
}
this will have the same result as below. */
html {
    background-color: #f2ebff;
}

.header {
    text-align: center;
    color: #00FFFF;
    font-size: 100px;
}

/*
.recipe-1,
.recipe-2,
.recipe-3 {
    text-align: center;
}
*/

.parant-div {
  border: 10px solid green;
}

.recipe-all-div {
  text-align: center;
  border: 10px solid lime;
}

.recipe-1 {
    background-color: yellow;
    font-size: 40px;
    margin-right: 10px;
    padding: 10px;
}
.recipe-2 {
    background-color: yellowgreen;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
}
.recipe-3 {
    background-color: burlywood;
    font-size: 40px;
    margin-left: 10px;
    padding: 10px;
}
